<?xml version="1.0"?>
<configuration>
  <configSections>
    <section name="flickrNet" type="FlickrNet.FlickrConfigurationManager,FlickrNet" requirePermission="false"/>
  </configSections>
  <flickrNet cacheDisabled="true"/>
  <appSettings>
    <add key="changetimeinminutes" value="10"/>
    <add key="esrinlwallpaper" value="esrinl.jpg"/>
    <add key="basketbalnieuwswallpaper" value="basketbalnieuws.jpg"/>
    <!-- flickr integration settings-->
    <add key="flickrAPIKey" value="04b183e090d0f3eaaf84240f18a7dc2a"/>
    <add key="flickrAPISharedSecret" value="5a1315102ff1e88f"/>
    <add key="flickrUserId" value="29023370@N08"/>
    <add key="flickrSetUrl" value="http://www.flickr.com/photos/basketbalnieuws/sets/$id/"/>
    <add key="flickrPageSize" value="24"/>
  </appSettings>
</configuration>