<?xml version="1.0"?>
<configuration>
  <configSections>
    <section name="flickrNet" type="FlickrNet.FlickrConfigurationManager,FlickrNet" requirePermission="false"/>
    <section name="wallpapers" type="MannusWallpaper.ConfigurationManager,MannusWallpaper" requirePermission="false"/>
  </configSections>
  <flickrNet cacheDisabled="true"/>
  <wallpapers>
    <wallpaper key="company" path="esrinl.jpg" description="Esri Nederland" destopbackcolor="White" emptydesktop="true"/>
    <wallpaper key="basketbalnieuws" path="basketbalnieuws.jpg" description="BasketBalNieuws" desktopbackcolor="Grey" emptydesktop="true"/>
  </wallpapers>
  <appSettings>
    <add key="locationofenablefile" value="c:\enablenormalmode.txt"/>
    <!-- flickr integration settings-->
    <add key="useflickrwallpaper" value="true"/>
    <add key="flcikrchangetimeinminutes" value="10"/>
    <add key="flickrAPIKey" value="04b183e090d0f3eaaf84240f18a7dc2a"/>
    <add key="flickrAPISharedSecret" value="5a1315102ff1e88f"/>
    <add key="flickrUserId" value="29023370@N08"/>
    <add key="flickrSetUrl" value="http://www.flickr.com/photos/basketbalnieuws/sets/$id/"/>
    <add key="flickrPageSize" value="24"/>
  </appSettings>
</configuration>