<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="flickrNet" type="FlickrNet.FlickrConfigurationManager,FlickrNet" requirePermission="false"/>
    <section name="MannusWallPaper" type="MannusWallPaper.MannusWallPaperConfiguration,MannusWallPaper" requirePermission="false"/>
    <section name="Flickr" type="MannusWallPaper.FlickrConfiguration,MannusWallPaper" requirePermission="false"/>
  </configSections>
  <flickrNet cacheDisabled="true"/>
  <MannusWallPaper>
    <wallpapers>
      <!-- the wallpapers will be inserted in order from top to bottom -->
      <!-- the last one in this list will be the first item and the default in case Flickr is not in use -->
      <wallpaper key="company" path="C:\GitHub\WallPaperChanger\esrinl.jpg" description="Esri Nederland" desktopbackcolor="White" emptydesktop="true" hideicons="true"/>
      <wallpaper key="basketbalnieuws" path="C:\GitHub\WallPaperChanger\basketbalnieuws.jpg" description="BasketBalNieuws" desktopbackcolor="Khaki" emptydesktop="true" hideicons="true"/>
    </wallpapers>
    <watermarkfilters>
      <filter key="one" prefix="scn"/>
      <filter key="two" prefix="dscn"/>
      <filter key="three" prefix="snc"/>
      <filter key="four" prefix="image"/>
      <filter key="five" prefix="img"/>
    </watermarkfilters>
    <imagelibraries>
    </imagelibraries>
  </MannusWallPaper>
  <Flickr useflickr="true" apikey="04b183e090d0f3eaaf84240f18a7dc2a" apisharedsecret="5a1315102ff1e88f" userid="29023370@N08" seturl="http://www.flickr.com/photos/basketbalnieuws/sets/$id/" pagesize="24"/>
  <appSettings>
    <add key="changetimeinminutes" value="10"/>
    <add key="locationofenablefile" value="c:\enablenormalmode.txt"/>
    <add key="ClientSettingsProvider.ServiceUri" value=""/>
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1"/>
  </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="FlickrNet" publicKeyToken="2491df59efa5d132" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-3.8.0.0" newVersion="3.8.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="log4net" publicKeyToken="669e0ddf0bb1aa2a" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-1.2.12.0" newVersion="1.2.12.0"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri=""/>
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400"/>
      </providers>
    </roleManager>
  </system.web>
</configuration>
